#activity {
  margin-bottom: 100px;
  .page-header2 .page-header-container {
    padding-bottom: 38px;
  }

  button.filter-btn {
    outline: none;
    margin-bottom: 12px;
    align-items: center;
    height: 32px;
    padding: 0 8px;
    border-radius: 4px;
    display: none;
    span {
      transform: translateY(-2px);
      display: inline-block;
      font-size: 16px;
      height: 16px;
    }
  }
  button.close-filter-btn {
    display: none;
  }
  .activity-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .list-form {
    width: 505px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-right: 21px;
    margin-bottom: -20px;
  }

  .filter-wrapper {
    width: 294px;
    position: sticky;
    position: -webkit-sticky;
    top: 72px;
  }
  .filter-form {
    width: 294px;
    padding: 24px 20px 17px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #f9f9f9;
    background-color: #ffffff;
    
    div.title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span.title {
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000e2d;
      }

      span.clear {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a5568;
        font-family: fontRegular;
        cursor: pointer;
      }
    }

    div.collections-list {
      margin-top: 19px;
      li {
        input {
          cursor: pointer;
          margin-bottom: 15px;
        }
        input:checked ~ label {
          color: #000e2d;
        }
        label {
          cursor: pointer;
          margin-bottom: 0;
          transform: translateY(-2px);
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #4a5568;
          margin-left: 8px;
        }
      }
    }
  }
}
