#create-nft {
  margin-bottom: 100px;
  button.preview-btn {
    width: 100%;
    display: none;
  }

  button.close-preview-btn {
    display: none;
  }
  .create-form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .create-form-container.absoluted {
    align-items: flex-end;
  }
  .input-form {
    width: 505px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #f9f9f9;
    background-color: #ffffff;
    margin-right: 21px;

    label.image-label {
      width: 100%;
      display: block;
      margin: 0 0 20px;
      padding: 47px 20px;
      border-radius: 8px;
      background-color: #e5e8eb;
      text-align: center;
      cursor: pointer;
      img {
        width: 24px;
        height: 23px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      span {
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #017a9b;
        display: block;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: #4a5568;
        font-family: fontRegular;
      }
      p.file_name {
        width: 100%;
        font-size: 16px;
        padding: 0px 32px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        word-break: break-all;
      }
    }
    .basic-info {
      label {
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #121928;
        display: block;
        margin-bottom: 12px;
      }
      input {
        width: 100%;
        height: 50px;
        padding: 19px 20px 15px 20px;
        border-radius: 4px;
        border: solid 1px #e5e8eb;
        background-color: #f8f9fa;
        margin-bottom: 30px;
      }
      textarea#description {
        height: 200px;
        max-height: 200px;
        width: 100%;
        padding: 17px 20px 167px 20px;
        border-radius: 4px;
        border: solid 1px #e5e8eb;
        background-color: #f8f9fa;
        resize: none;
        outline: none;
      }
      input::-webkit-input-placeholder,
      textarea::-webkit-input-placeholder {
        /* Edge */
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #121928;
      }

      textarea:-ms-input-placeholder,
      input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #121928;
      }

      textarea::placeholder,
      input::placeholder {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #121928;
      }
    }
    .ownership-container {
      margin-top: 20px;
      span.title {
        display: block;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #121928;
        margin-bottom: 12px;
      }
      .option {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        label {
          margin: 0;
          margin-left: 8px;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #121928;
          font-family: fontRegular;
          height: 16px;
          transform: translateY(2px);
        }
      }
    }

    button.submit-btn {
      width: 100%;
      margin-top: 30px;
    }
  }

  .preview-wrapper {
    width: 294px;
    position: sticky;
    -webkit-position: sticky;
    top: 72px;
  }
  .preview-form {
    width: 294px;
    padding: 24px 20px 17px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #f9f9f9;
    background-color: #ffffff;
    .thumbnail {
      width: 100%;
      padding-top: 100%;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    span.product-name {
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #121928;
      margin-top: 20px;
      display: block;
    }
    .user {
      margin-top: 20px;
      img {
        width: 36px;
        height: 36px;
        object-fit: cover;
        margin-right: 8px;
      }
    }
    .money {
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #e5e8eb;
      margin-top: 15px;
      span {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #121928;
      }
      span i {
        cursor: pointer;
        color: #4a5568;
      }
    }
  }

  .preview-form.fixed {
    position: fixed;
    top: 70px;
  }
  .preview-form.absoluted {
    position: static;
  }

  .mint-form,
  .auction-form,
  .sell-form {
    margin-top: 20px;
    .mint-container,
    .auction-container,
    .sell-container {
      display: flex;
      justify-content: space-between;
    }
  }

  .ownership-input-wrapper {
    width: calc(50% - 13px);
    position: relative;

    input {
      width: 100%;
      height: 60px;
      padding: 24px 80px 20px 20px;
      border-radius: 4px;
      border: solid 1px #e5e8eb;
      background-color: #f8f9fa;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4a5568;
      font-family: fontRegular;
      display: block;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    span.pseudo {
      position: absolute;
      right: 21px;
      top: 50%;
      transform: translateY(calc(50% - 3px));
      height: 16px;
      color: #4a5568;
      font-family: fontRegular;
      font-size: 16px;
    }

    label {
      display: flex;
      margin-bottom: 12px;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #121928 !important;
      }
      a {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a5568;
        font-family: fontRegular;
      }
    }
  }

  .sell-form,
  .auction-form {
    .fixed-price {
      width: 100%;
      p.desc {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a5568;
        font-family: fontRegular;
        margin-top: 12px;
        margin-bottom: 30px;
      }
      span.pseudo {
        transform: translateY(-50%);
      }
    }
  }

  .auction-form {
    .auction-container.date {
      input {
        padding: 24px 10px 20px 20px;
      }
    }
  }
}
